version: "3.8"

services:
  app:
    image: ${DOCKER_IMAGE:-your-dockerhub-username/rawej:latest}
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./storage:/app/storage
