services:
  app:
    image: ${DOCKER_IMAGE:-ghcr.io/salahfarzin/rawej:latest}
    ports:
      - "3000:3000"
    env_file:
      - .env
    restart: unless-stopped
    volumes:
      - ./storage:/app/storage
